@model ManufacturersListViewModel

@{
    ViewBag.Title = "All Manufacturers";
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}

<h1 class="text-center mt-2">All Manufacturers</h1>
<div class="row">
    @foreach (var manufacturer in Model.Manufacturers)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">Name: @manufacturer.Name </h5>
                    <h5 class="card-title text-center"><i class="fa-solid fa-desktop"></i> Website: @manufacturer.Website</h5>
                    <h5 class="card-title text-center"><i class="fa-solid fa-envelope"></i> Email: @manufacturer.Email</h5>
                    <h5 class="card-title text-center"><i class="fa-solid fa-phone"></i> Phone Number: @manufacturer.PhoneNumber</h5>
                    <h6 class="card-title text-center"><i class="fa-solid fa-map-location-dot"></i> Address: @manufacturer.AddressCityCountryName  @manufacturer.AddressCityName @manufacturer.AddressName @manufacturer.AddressNumber</h6>
                    <a asp-controller="Manufacturers" asp-action="AllKitchens" asp-route-manufacturerId="@manufacturer.Id" asp-route-pageId=1 class="btn btn-primary">See all kitchens: @manufacturer.KitchensCount</a>
                </div>
            </div>
        </div>
    }
</div>
<hr />
<partial name="_PagingPartial" model="@Model" />
