@using MyKitchen.Data.Models.Enum
@model EditKitchenInputModel

@{
    ViewBag.Title = "Edit Kitchen";
}


<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">@ViewBag.Title</h2>
        <form method="post" id="editForm" enctype="multipart/form-data">
            <div class="input-group mb-3">
                <div class="input-group-prepend mb-3">
                    <a asp-controller="Manufacturers" asp-action="Add" class="btn btn-block btn-outline-primary btn-xs"><i class="fas fa-plus"></i>Add Manufacturer</a>
                </div>
                <select asp-for="МanufacturerId" class="form-select  mb-3" aria-label=".form-select-lg example">
                    <option selected="selected mb-3" value="">Select manufacturer</option>
                    @foreach (var manufacturer in Model.Manufacturers)
                    {
                        <option value="@manufacturer.Id">@manufacturer.Name</option>
                    }
                </select>
                <span asp-validation-for="МanufacturerId" class="small text-danger"></span>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend mb-3">
                    <a asp-controller="Colors" asp-action="Add" class="btn btn-block btn-outline-primary btn-xs"><i class="fas fa-plus"></i>Add Color</a>
                </div>
                <select asp-for="ColorsId" class="selectpicker" multiple data-live-search="true">
                    @foreach (var color in Model.Colors)
                    {
                        <option value="@color.Id">@color.Name</option>
                    }
                </select>
            </div>

            <div class="form-group mb-3">
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                    <option selected="selected" value="">Select category</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="small text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="TypeOfDoorMaterial">Material</label>
                <select asp-for="TypeOfDoorMaterial" asp-items="Html.GetEnumSelectList<TypeOfDoorMaterial>()" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                    <option selected="selected" value="">Select material of kitchen</option>
                </select>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" placeholder="...Euros">
                <span asp-validation-for="Price" class="small text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="PreparationTime"></label>
                <input asp-for="PreparationTime" class="form-control" placeholder="....Days">
                <span asp-validation-for="PreparationTime" class="small text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" rows="4" class="form-control" placeholder="Аdditional information about the kitchen..."></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="KitchenMeter"></label>
                <input asp-for="KitchenMeter" class="form-control" placeholder="....meters">
                <span asp-validation-for="KitchenMeter" class="small text-danger"></span>
            </div>


            <input type="hidden" asp-for="Id" />

        </form>

        <div class="text-center">
            <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#modalEdit"><i class="fas fa-save"></i> Save changes</button>
        </div>

    </div>
</div>


<div class="modal" id="modalEdit" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Do you confirm this changes?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="editForm.submit()">Save changes</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}




