@model ManufacturersListViewModel

@{
    ViewBag.Title = "All Manufacturer";
}
@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}

<h1 class="heading-margin text-center">@ViewBag.Title</h1>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">KitchensCount</th>
            <th scope="col">Address</th>
            <th scope="col">Email</th>
            <th scope="col">Website</th>
            <th scope="col">PhoneNumber</th>
            <th scope="col">Deleted</th>
            <th scope="col">Approved</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var manufacturer in Model.Manufacturers)
        {
            <tr>
                <td scope="col">@manufacturer.Id</td>
                <td scope="col">@manufacturer.Name</td>
                <td scope="col">@manufacturer.KitchensCount</td>
                <td scope="col">@manufacturer.AddressName @manufacturer.AddressNumber</td>
                <td scope="col">@manufacturer.Email</td>
                <td scope="col">@manufacturer.Website</td>
                <td scope="col">@manufacturer.PhoneNumber</td>
                <td scope="col">@(manufacturer.IsDeleted ? "Yes" : "No")</td>
                <td scope="col">@(manufacturer.IsPublic ? "Yes" : "No")</td>
                <td scope="col">
                    <a asp-area="" asp-controller="Manufacturers" asp-action="Edit" asp-route-id="@manufacturer.Id" class="btn btn-block btn-outline-success btn-xs"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                    <a asp-area="Admin" asp-controller="Manufacturers" asp-action="ChangeVisibility" asp-route-id="@manufacturer.Id" class="btn btn-block btn-outline-primary btn-xs mb-2"><i class="fa-solid fa-eye"></i> @(manufacturer.IsPublic ?  "Hide" : "Show")</a>
                    <form method="post" asp-area="" asp-controller="Manufacturers" asp-action="Delete" asp-route-id="@manufacturer.Id">
                        <a class="btn btn-block btn-outline-danger btn-xs">Delete</a>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<hr />
<partial name="_PagingPartial" model="@Model" />
