@model KitchensListViewModel


@{
    ViewBag.Title = "All Kitchens";
}

<h1 class="heading-margin text-center">@ViewBag.Title</h1>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">UserName</th>
            <th scope="col">Image</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th scope="col">Meter</th>
            <th scope="col">Preparation Time</th>
            <th scope="col">Manufacturer</th>
            <th scope="col">Average Vote</th>
            <th scope="col">Comments</th>
            <th scope="col">Deleted</th>
            <th scope="col">Approved</th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var kitchen in Model.Kitchens)
        {
            <tr>
                <td scope="col">@kitchen.Id</td>
                <td scope="col">@kitchen.UserName</td>
                <td> <img src="@kitchen.ImageUrl" width="100" /> </td>
                <td scope="col">@kitchen.CategoryName</td>
                <td scope="col">@kitchen.Price</td>
                <td scope="col">@kitchen.KitchenMeter</td>
                <td scope="col">@kitchen.PreparationTime</td>
                <td scope="col">@kitchen.МanufacturerName</td>
                <td scope="col">@kitchen.AverageVote</td>>
                <td scope="col">@kitchen.CommentsCount</td>
                <td scope="col">@(kitchen.IsDeleted ? "Yes" : "No")</td>
                <td scope="col">@(kitchen.IsPublic ? "Yes" : "No")</td>
                <td scope="col">
                    <a asp-area="" asp-controller="Kitchens" asp-action="Edit" asp-route-id="@kitchen.Id" class="btn btn-block btn-outline-success btn-xs">Edit</a>
                    <a asp-area="Admin" asp-controller="Kitchens" asp-action="ChangeVisibility" asp-route-id="@kitchen.Id" class="btn btn-block btn-outline-primary btn-xs">@(kitchen.IsPublic ? "Hide" : "Show")</a>
                    <a asp-area="" asp-controller="Kitchens" asp-action="Details" asp-route-id="@kitchen.Id" asp-route-information="@kitchen.GetInformation()" class="btn btn-block btn-outline-dark btn-xs">View</a>
                    <br>
                        <form method="post" asp-area="" asp-controller="Kitchens" asp-action="Delete" asp-route-id="@kitchen.Id">
                            <a class="btn btn-block btn-outline-danger btn-xs">Delete</a>
                        </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<hr />
<partial name="_PagingPartial" model="@Model" />
