@model IEnumerable<KitchenInListViewModel>

    @if (!Model.Any())
{
    <h2 class="text-center">No kitchen found !</h2>
}

<div class="row">
    @foreach (var kitchen in Model)
    {
        <div class="col-md-4 col-sm-4 col-12">
            <div class="product-box-layout1">

                <figure class="item-figure">
                    <a asp-controller="Kitchens" asp-action="Details" asp-route-id="@kitchen.Id" asp-route-information="@kitchen.GetInformation()">
                        <img class="img-fluid" height="50" src="@kitchen.ImageUrl" alt="@kitchen.Price @kitchen.PreparationTime - @kitchen.TypeOfDoorMaterial.ToString() (@kitchen.CategoryName)">
                    </a>
                </figure>

                <div class="item-content">
                    <span class="sub-title">@kitchen.CategoryName</span>
                    <h3 class="item-title"><a asp-controller="Manufacturers" asp-action="AllKitchens" asp-route-manufacturerId="@kitchen.МanufacturerId">@kitchen.МanufacturerName</a></h3>
                    <ul class="item-rating">
                        @if (@kitchen.AverageVote < 1)
                        {
                            <li class="star-empty"><i class="fas fa-star"></i></li>
                            <li class="star-empty"><i class="fas fa-star"></i></li>
                            <li class="star-empty"><i class="fas fa-star"></i></li>
                            <li class="star-empty"><i class="fas fa-star"></i></li>
                            <li class="star-empty"><i class="fas fa-star"></i></li>
                        }
                        else if (@kitchen.AverageVote < 2)
                        {
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                            <li class="star-empty"><i class="fas fa-star"></i></li>
                            <li class="star-empty"><i class="fas fa-star"></i></li>
                            <li class="star-empty"><i class="fas fa-star"></i></li>
                            <li class="star-empty"><i class="fas fa-star"></i></li>
                        }
                        else if (@kitchen.AverageVote < 3)
                        {
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                            <li class="star-empty"><i class="fas fa-star"></i></li>
                            <li class="star-empty"><i class="fas fa-star"></i></li>
                            <li class="star-empty"><i class="fas fa-star"></i></li>
                        }
                        else if (@kitchen.AverageVote < 4)
                        {
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                            <li class="star-empty"><i class="fas fa-star"></i></li>
                            <li class="star-empty"><i class="fas fa-star"></i></li>
                        }
                        else if (@kitchen.AverageVote < 5)
                        {
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                            <li class="star-empty"><i class="fas fa-star"></i></li>
                        }
                        else
                        {
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                            <li class="star-fill"><i class="fas fa-star"></i></li>
                        }
                        <li><span>@kitchen.AverageVote.ToString("0.0")/ 5</span></li>
                    </ul>
                    <p> @kitchen.ShortDescription </p>
                    <ul class="entry-meta">
                        <li><span><i class="fa-solid fa-comment-dollar"></i> @kitchen.Price euros</span></li>
                        <li><span><i class="fas fa-user"></i> by <span>@kitchen.UserName</span></span></li>
                        <li><span><i class="fas fa-clock"></i><span> @kitchen.PreparationTime</span> days</span></li>
                        <li><span><i class="fa-solid fa-ruler"></i> @kitchen.KitchenMeter</span></li>
                    </ul>
                </div>
                @if (this.ViewContext.RouteData.Values["action"].ToString() != "Collection" && this.ViewContext.RouteData.Values["action"].ToString() != "My"
               && !this.User.IsAdmin() && this.User.Identity.IsAuthenticated)
                {
                    <a asp-controller="Kitchens" asp-action="AddToCollection" asp-route-id="@kitchen.Id" class="btn btn-block btn-success">Add to Collection</a>
                }
                @if (this.ViewContext.RouteData.Values["action"].ToString() == "Collection")
                {
                    <a asp-controller="Kitchens" asp-action="RemoveFromCollection" asp-route-id="@kitchen.Id" class="btn btn-block btn-danger">Remove from Collection</a>
                }
            </div>
        </div>
    }
</div>

